.logo {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

@media screen and (max-width: 540px) {
  .logo {
    width: 70px;
    height: 70px;
  }
}