.conferenceStandings {
  display: inline-block;
  margin: 10px 15px;
}

.conferenceName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conferenceName span {
  vertical-align: middle;
  height: 100%;
  display: inline-block;
  margin-left: 10px;
  font-size: 25px;
}

.tableStandings {
  width: 345px;
  border-collapse: collapse;
  padding: 15px;
}

.tableStandings tr th, .tableStandings tr td {
  padding: 7px;
  border-bottom: 1px solid rgb(173, 168, 168);
}

@media screen and (max-width: 540px) {
  .tableStandings {
    width: 300px;
  }
}
