.cardGameScore {
  margin: 10px;
}

.cardContent {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.containerTeam {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.containerResult {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 170px;
  text-align: center;
}

.locationLabel {
  font-weight: 600;
}

.containerScore {
  margin-top: 20px;
}

.clear {
  clear: both;
}

.city {
  font-size: 1.2em;
}

.teamName {
  font-size: 2em;
  font-weight: 900;
}

.location {
  font-size: 1.1em;
  font-weight: 900;
}
